/* Utilities */
.d-flex {
  display: flex;
}

.flexDirectionColumn {
  flex-direction: column;
}

.justifyCenter {
  justify-content: center;
}

.alignCenter {
  align-items: center;
}

.textError {
  color: red;
}

/* Header */
.header {
  height: 5px;
  background-color: brown;
  color: white;
  margin-bottom: 77px;
}

/* Header */
.content {
  height: 50px;
  text-align: center;
}
